[2021-06-06 12:44] prathimacode-hub opened #1 "Star the repo 🌟"
Consider starring this repository if you found this project helpful.

[2021-06-06 12:44] prathimacode-hub opened #2 "Fork the repo 🍴"
Never work on master branch. Kindly fork it to your local repository before you start contributing.

[2021-06-06 12:45] prathimacode-hub opened #3 "Contribute to this repo 🔔"
Contribute to this respository to shower your love towards this project and getting started with Open Source/Github.

[2021-07-08 14:15] bhagyashree-06 commented on #3
I am interested!

[2021-07-08 14:22] prathimacode-hub commented on #3
Are you a DevIncept participant? @bhagyashree-06

[2021-07-08 16:23] bhagyashree-06 commented on #3
yes, I am

[2021-07-08 16:27] prathimacode-hub commented on #3
That's great, glad to see your interest to contribute. You can start contributing from 10th of July as program would count from then. Meanwhile go through the README and CONTRIBUTING GUIDELINES. Any queries, don't hesitate to ask. @bhagyashree-06

[2021-07-09 13:22] neha030 opened #4 "Fibonacci Search"
I want to add the python code for Fibonacci Search under DCP'21
Please assign me this issue

[2021-07-09 14:35] prathimacode-hub commented on #4
Welcome, contribution period would start from tomorrow. You can get an issue assigned tomorrow, but to raise an issue and PR, there are templates providd int he README file of the project. @neha030

[2021-07-09 17:03] bhagyashree-06 commented on #3
Sure, thank you! @prathimacode-hub

[2021-07-10 07:34] prathimacode-hub commented on #4
Hey, if you want to work on this issue, kindly raise a new issue using the template provided in README file of the project. @neha030

[2021-07-10 07:44] SANJAY-NT opened #5 "Array Operations."
Can I take up the array structure and Add all operations with code and a readme explaining all the details.

[2021-07-10 08:06] SANJAY-NT opened #6 "List Operations"
I would like to make a notepad with detailed list structure from declaration to all operations and a related read me.

[2021-07-10 08:09] prathimacode-hub commented on #5
You can work on only 1 issue at a time. So decide the issue you would work on first. And follow the issue template given to get an issue assigned to you. All the template are provided in README file of the project. Also go through the README and CONTRIBUTING GUIDELINES. You'll gain clarity on it. @SANJAY-NT

[2021-07-10 08:22] sujay2306 opened #7 "Ordered list"

[2021-07-10 08:26] SANJAY-NT commented on #5
I would like to work on Arrays first.

[2021-07-10 08:26] #6 closed

[2021-07-10 08:28] siddhi-244 opened #8 "Selection Sort"
---
Title: Selection Sort in python
Name: SIDDHI BHANUSHALI
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
N.A.its a new feature.

**Describe the solution you'd like...**
I would like to add Selection sort solution.

**Describe alternatives you've considered?**

**Approach to b

[2021-07-10 08:28] siddhi-244 opened #9 "Bubble_Sort"
---
Title: Bubble Sort in python
Name: SIDDHI BHANUSHALI
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
N.A.its a new feature.

**Describe the solution you'd like...**
I would like to add Bubble sort solution.

**Describe alternatives you've considered?**

**Approach to be foll

[2021-07-10 08:39] prathimacode-hub commented on #7
Please  follow the issue template given in README to get issue assigned
And also be particular about the project title give to the issue. Don't generalize it. @sujay2306

[2021-07-10 08:40] prathimacode-hub commented on #9
Please follow the issue template given in README to get issue assigned. You can work on only 1 issue at a time
So let me know of the script you are choosing.
@siddhi-244

[2021-07-10 08:41] siddhi-244 commented on #9
Python

[2021-07-10 08:43] siddhi-244 commented on #9
@prathimacode-hub  Have a look

[2021-07-10 08:43] prathimacode-hub commented on #9
Obviously it's python. Follow the issue templaate given. @siddhi-244

[2021-07-10 08:44] siddhi-244 commented on #9
I have updated the comment

[2021-07-10 08:52] prathimacode-hub commented on #9
Questions are empty. Atleast add a small description in the template on how would you like to proceed. @siddhi-244

[2021-07-10 08:54] siddhi-244 commented on #9
Done maam

[2021-07-10 08:57] prathimacode-hub commented on #9
Ok, see the project structure first before you work so that you know the files you go to add in your project. Issue assigned. @siddhi-244

[2021-07-10 08:59] siddhi-244 commented on #9
Sure. I read it first before opening issue. I will add this in sorting algorithms

[2021-07-10 09:01] prathimacode-hub commented on #5
Ok, add up the issue template and modify according to the project you're taking up. I shall assign once you do that.
@SANJAY-NT

[2021-07-10 10:48] prathimacode-hub commented on #6
Never close an issue or PR from your end. @SANJAY-NT

[2021-07-10 12:00] SANJAY-NT commented on #5
I don't know where is the templet can i get some link for the same.

[2021-07-10 12:29] prathimacode-hub commented on #5
Be specific about the project title. You can work on only issue at a time. Change the issue title to your project title you will be working on. @SANJAY-NT

[2021-07-10 12:48] siddhi-244 commented on #8
I have made a pr for bubble sort. Please assign me this

[2021-07-10 13:14] prathimacode-hub commented on #8
This issue doesn't have template. Kindly add that and I shall assign the issue. @siddhi-244

[2021-07-10 13:21] siddhi-244 commented on #8
Done maam

[2021-07-10 13:23] SANJAY-NT commented on #5
I  updated the title with the operations i will be working on.

[2021-07-10 13:24] neha030 opened #11 "Binary Search Tree"
Title: Binary Search Tree in python
Name: NEHA JHA
Label: Feature Request
Assignee: ''

**Define You:**

✅ DevIncept Participant
 Contributor

**Is your feature request related to a problem? Please describe.**
Its a new feature.

**Describe the solution you'd like...**
IMPLEMENTATION OF BINARY SEARCH TREE (BST)
    Binary Search Tree is a special type of binary tree where:
    1. The value of all

[2021-07-10 13:36] sujay2306 commented on #7
Title: list Creation , insertion and deletion operation in Python

Name: Sujay KS

Label: Feature Request

Define You:

 DevIncept Participant

 Contributor

Describe of changes I want to make

I would like to add all the list  implementations methods and operation on the same using python

Type of change

What sort of change have you made:

 New feature (non-breaking change which adds functionali

[2021-07-10 13:51] prathimacode-hub commented on #11
Issue assigned. You can proceed. @neha030

[2021-07-10 13:52] prathimacode-hub commented on #8
Few changes needed over the repo. I shall assign this issue. But address the changes, before you work on this. @siddhi-244

[2021-07-10 13:56] prathimacode-hub commented on #7
Per one issue, you can work on only 1 script. So decide on what kind of list you would like to work on, change the issue title and template details accordingly. Also, add a tick mark beside devincept participant in template. Do these changes to get this issue assigned. @sujay2306

[2021-07-10 13:57] prathimacode-hub commented on #5
The issue title is still not specific. What's the operations you will be working on? Change it to the project title. @SANJAY-NT

[2021-07-10 14:00] siddhi-244 commented on #9
Done maam @prathimacode-hub . Really srry for the mistakes next time I will not repeat it

[2021-07-10 14:11] SANJAY-NT commented on #5
Yes ma'am I updated the issue heading.

[2021-07-10 14:14] prathimacode-hub commented on #7
What's the project title? Please do the changes asked. @sujay2306

[2021-07-10 14:16] sujay2306 commented on #7
Title: Insertion operation in list
Name: Sujay KS
Label: Feature Request
Assignee: ''

Define You:

✅ DevIncept Participant
Contributor

Is your feature request related to a problem? Please describe.
Its a new feature.

Describe the solution you'd like...
Lists are used to store multiple items in a single variable.
Lists are one of 4 built-in data types in Python used to store collections of data,

[2021-07-10 14:23] prathimacode-hub commented on #7
So this project title should be "Ordered List". Add this as issue title. @sujay2306

[2021-07-10 14:24] sujay2306 commented on #7
done

[2021-07-10 14:24] prathimacode-hub commented on #5
Add the issue title as "Array Operations. @SANJAY-NT

[2021-07-10 14:25] prathimacode-hub commented on #7
Issue assigned, You can proceed. @sujay2306

[2021-07-10 14:25] sujay2306 commented on #7
thank you

[2021-07-10 14:26] SANJAY-NT commented on #5
Yes Mam.

[2021-07-10 14:29] prathimacode-hub commented on #5
Issue assigned. @SANJAY-NT

[2021-07-10 14:35] Sri-vishnu-r1431 commented on #4
I want to work on this issue kindly assign me this issue under devincept '21

[2021-07-10 14:39] #9 closed

[2021-07-10 14:49] prathimacode-hub commented on #4
Raise up a new issue using the issue template provided in README file of the project. Changes the modifications according to your project. Else you refer with assigned issues to see how template looks like one. @Sri-vishnu-r1431

[2021-07-10 15:12] thejaswin123 opened #12 "Heap Sort"
---
Title: Heap Sort
About: Add solution in python to sort array/list of numbers
Name: Thejaswin S
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

- New Feature, I would like to add efficient python code to sort numbers using Heap Sort.

**Describe the solution you'd like...**

[2021-07-10 15:13] Apekshamarutip1 opened #13 "Graph-BST"
Title: Implementation of Breadth First Search using Graphs in python
Name: Apeksha M Prabhu
Label: Feature Request
Assignee: ''

Define You:

✅ DevIncept Participant
Contributor

Is your feature request related to a problem? Please describe.
Its a new feature.

Describe the solution you'd like...
Implementation of Breadth First Search

BFS stands for Breadth First Search is a vertex based techniqu

[2021-07-10 15:21] prathimacode-hub commented on #12
Sure, issue assigned. @thejaswin123

[2021-07-10 15:23] prathimacode-hub commented on #13
Per one issue, you can work on only project. For other issue, you need to raise an issue again. So kindly let me know of the project topic you will be working out of the two given options above. You can work on only one issue at a time. @Apekshamarutip1

[2021-07-10 16:26] prathimacode-hub commented on #13
So, it's a tree script. @Apekshamarutip1

[2021-07-10 16:26] Apekshamarutip1 commented on #13
Title: Implementation of Breadth First Search using Graphs in python
Name: Apeksha M Prabhu
Label: Feature Request
Assignee: ''

Define You:

✅ DevIncept Participant
Contributor

Is your feature request related to a problem? Please describe.
Its a new feature.

Describe the solution you'd like...
Implementation of Breadth First Search and Depth First Search

BFS stands for Breadth First Search is

[2021-07-10 16:27] Apekshamarutip1 commented on #13
yes

[2021-07-10 16:28] prathimacode-hub commented on #13
Ok, great issue assigned. Follow the project structure given while creating a project and template for PR. @Apekshamarutip1

[2021-07-10 16:35] prathimacode-hub commented on #13
Change the details in your issue template, as the project title is changed now. @Apekshamarutip1

[2021-07-10 16:51] siddhi-244 opened #15 "Add binary search in python."
---
Title: Binary Search in python
Name: SIDDHI BHANUSHALI
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
N.A.its a new feature.

**Describe the solution you'd like...**
I would like to add binary search solution.

**Describe alternatives you've considered?**

**Approach to be

[2021-07-10 16:53] #8 closed

[2021-07-10 16:54] prathimacode-hub commented on #15
You can proceed. Assigned. @siddhi-244

[2021-07-10 16:55] siddhi-244 commented on #15
Maam you haven't made a folder for searching shall I make it ?

[2021-07-10 17:12] Manasi2001 opened #16 "Water Jug Problem"
---
Title: Water Jug Problem
About: The aim is to solve Water Jug Problem using BFS or DFS as per user's choice using backtracking.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

You are given a 'm' liter jug and a 'n' liter jug where '0<m<n'. B

[2021-07-10 17:17] prathimacode-hub commented on #16
Issue assigned. It's a wonderful choice of the script. @Manasi2001

[2021-07-10 18:01] siddhi-244 commented on #15
@prathimacode-hub

[2021-07-10 18:08] prathimacode-hub commented on #15
Yes, create a folder for "Searching"

[2021-07-10 18:12] siddhi-244 commented on #15
Sure maam

[2021-07-10 19:14] dhruv-varshney opened #18 "Sudoku Solver using Backtracking"
Title: Sudoku Solver
About: The aim is to solve any sudoku  by using Backtracking
Name: Dhruv Varshney
Label: Feature Request
Assignee: 'dhruv-varshney'

Define You:

- [x] DevIncept Participant

- [x] Contributor

Is your feature request related to a problem? Please describe.

There is a grid that contains nine squares which are then subdivided into a further nine smaller squares in such a way th

[2021-07-11 03:53] prathimacode-hub commented on #18
Issue assigned. @dhruv-varshney

[2021-07-11 03:59] Apekshamarutip1 commented on #13
Done

[2021-07-11 04:06] abhisheks008 opened #19 "Determining DNA Health"
---
Title: Determining DNA Health Problem
About: Find and print the respective total healths of the unhealthiest (minimum total health) and healthiest (maximum total health) strands of DNA as two space-separated values on a single line, where gene sequence is given as an array input.
Name: Abhishek Sharma
Label: Feature Request
Assignee: abhisheks008''

---

Define You:

- [x] DevIncept Participan

[2021-07-11 04:30] prathimacode-hub commented on #19
You can proceed. It's a unique script you had choosen. @abhisheks008

[2021-07-11 12:21] siddhi-244 opened #23 "Linear Search"
---
Title: Linear Search  in python
Name: SIDDHI BHANUSHALI
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
N.A.its a new feature.

**Describe the solution you'd like...**
I would like to add linear search solution.

**Describe alternatives you've considered?**

**Approach to be

[2021-07-11 13:37] abhisheks008 opened #24 "Predicting House Prices"
---
Title: Predicting House Prices
Algorithm : Multiple Linear Regression
About: Predicting the prices of the houses based given parameters.
Name: Abhishek Sharma
Label: Feature Request
Assignee: abhisheks008''

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
Charlie wants to buy a house. He does a detailed survey

[2021-07-11 14:16] prathimacode-hub commented on #24
Issue assigned. @abhisheks008

[2021-07-11 14:18] #16 closed

[2021-07-11 14:25] #19 closed

[2021-07-11 14:29] #15 closed

[2021-07-12 07:09] #12 closed

[2021-07-12 07:12] #18 closed

[2021-07-12 07:19] #24 closed

[2021-07-12 07:52] abhisheks008 opened #28 "Find Angle MBC"
---
Title: Find Angle MBC
About: Solving a geometric question using Python 3.7.
Name: Abhishek Sharma
Label: Feature Request
Assignee: abhisheks008

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
![](https://s3.amazonaws.com/hr-challenge-images/9668/1440151155-10b2b748ee-rsz_1438840048-2cf71ed69d-findangle.png)
`A

[2021-07-12 08:48] priyankav0107 opened #29 "Queue"
Title: implementation of queue using list
Name: PRIYANKA V
Label: Feature Request
Assignee: ''

Define You:

✅ DevIncept Participant
Contributor

Is your feature request related to a problem? Please describe.
Its a new feature.

Describe the solution you'd like...
There are various ways to implement a queue in Python. This article covers the implementation of queue using data structures and module

[2021-07-12 09:44] prathimacode-hub commented on #29
Can you be specific about the issue. @priyankav0107

[2021-07-12 09:47] #28 closed

[2021-07-12 09:57] priyankav0107 commented on #29
i will be implementing  queue using python

[2021-07-12 09:59] priyankav0107 commented on #29
Title:  Queue using Python
Name: PRIYANKA V
Label: Feature Request
Assignee: ''

Define You:

✅ DevIncept Participant
Contributor

Is your feature request related to a problem? Please describe.
Its a new feature.

Describe the solution you'd like...
There are various ways to implement a queue in Python. This article covers the implementation of queue using data structures and modules from Python l

[2021-07-12 10:07] prathimacode-hub commented on #29
Issue assigned. @priyankav0107

[2021-07-12 10:38] nknantha opened #31 "Singly Linked List"
---
Title: Singly Linked List
About: Singly Linked List implementation by nodes.
Name: NanthaKumar
Label: Feature Request
Assignee: ''

---

Define You:

- [x] **DevIncept Participant**
- [ ] ~~Contributor~~

**Is your feature request related to a problem? Please describe.**
No. I wants to add new feature.

**Describe the solution you'd like...**
A Singly Linked List which is implemented by nodes,

[2021-07-12 11:19] prathimacode-hub commented on #31
Issue assigned. @nknantha

[2021-07-12 11:33] #23 closed

[2021-07-12 11:39] siddhi-244 opened #33 "All indices of a number in array."
---
Title: All indices of an element in array.
About: I would like to add solution to this problem.
Name: SIDDHI BHANUSHALI
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like...**
I would like to add solution to this problem.

**Describe alte

[2021-07-12 11:40] siddhi-244 commented on #33
Please assign this to me under dcp

[2021-07-12 11:54] prathimacode-hub commented on #33
Issue assigned. @siddhi-244

[2021-07-12 14:12] Manasi2001 opened #34 "Tic Tac Toe Game"
---
Title: Tic Tac Toe Game
About: The aim is to build a game of Tic Tac Toe using backtracking algorithm, MiniMax.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

Minimax is a kind of backtracking algorithm. It searches, recursively, the best mo

[2021-07-12 14:15] prathimacode-hub commented on #34
You can proceed. @Manasi2001

[2021-07-12 14:50] #34 closed

[2021-07-12 14:59] Manasi2001 opened #36 "Knight's Tour"
---
Title: Knight's Tour
About: The aim is to come up with a solution for this problem using backtracking.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

The motive is to check whether it is possible for a Knight to visit each cell of the N*N ch

[2021-07-12 15:01] prathimacode-hub commented on #36
Assigned. @Manasi2001

[2021-07-12 16:37] Manasi2001 opened #38 "N Queens"
---
Title: N Queens
About: The aim is to come up with a solution for this problem using backtracking.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

The motive is to place N queens in a N*N Chessboard such that no two queens attack each other. A

[2021-07-12 16:46] prathimacode-hub commented on #38
Issue assigned. @Manasi2001

[2021-07-13 10:28] sushmithanjayaram opened #40 "Strings"
Title:  Strings
Name: Sushmitha N J
Label: Feature Request
Assignee: ''

Define You:

✅ DevIncept Participant
Contributor

Is your feature request related to a problem? Please describe.
Its a new feature.

Describe the solution you'd like...
In Python, Strings are arrays of bytes representing Unicode characters. However, Python does not have a character data type, a single character is simply a st

[2021-07-13 11:09] prathimacode-hub commented on #40
Can you be particular about the issue, as strings is itself a vast topic. Just edit up with the project you will be working and change details accoringly. Be specific about the topic. @sushmithanjayaram

[2021-07-13 11:22] photon149 opened #41 "Caesar Cipher"
Title: Caesar Cipher
About: The aim is to come up with a decryption/encryption to the entered encrypted/decrypted value using caesar cipher
Name: Shiwansh Raj
Label: Feature Request
Assignee: ''

Define You:

 ✅DevIncept Participant
 Contributor

Is your feature request related to a problem? Please describe.
The motive is to decrypt  or encrypt the entered string by the user , using Caesar cipher

[2021-07-13 11:38] sushmithanjayaram commented on #40
I will implement
Isupper()
lower()
replace()
Isnumeric()
Methods

[2021-07-13 11:54] prathimacode-hub commented on #40
Good work, issue assigned. @sushmithanjayaram

[2021-07-13 11:54] prathimacode-hub commented on #41
Issue assigned. @photon149

[2021-07-13 12:29] RC2208 opened #42 "Transposition Cipher"
Title: Transposition Cipher
About: Code for decryption/encryption of string using Transposition cipher.
Name: Ritika Chand
Label: Feature Request
Assignee: ''

Define You:

✅DevIncept Participant
**Contributor**

**Is your feature request related to a problem? Please describe.**

The motive is to decrypt or encrypt the entered string by the user , using Transposition cipher technique. The key valu

[2021-07-13 12:36] Manasi2001 opened #43 "Hamiltonian Cycle"
---
Title: Hamiltonian Cycle
About: The aim is to look for a Hamiltonian cycle in the graph provided by user using backtracking.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

The motive is to determine the existence of a Hamiltonian Cycle in th

[2021-07-13 12:58] pushpit-J19 opened #45 "Check Palindrome with recursion"
Title: Check Palindrome with recursion
About: The aim is to come up with a solution for this problem using Recursion.
Name: Pushpit Jain
Label: Feature Request
---

Define You:

✅ DevIncept Participant
    Contributor

Is your feature request related to a problem? Please describe.
Palindromes are very famous and required many a times. The motive is to check if the entered string by the user is a p

[2021-07-13 14:00] prathimacode-hub commented on #45
Issue assigned. @pushpit-J19

[2021-07-13 14:01] prathimacode-hub commented on #42
Wonderful choice, issue assigned. @RC2208

[2021-07-13 16:08] #45 closed

[2021-07-13 17:42] #41 closed

[2021-07-13 18:07] #38 closed

[2021-07-14 10:04] #36 closed

[2021-07-14 10:35] #42 closed

[2021-07-14 11:40] Manasi2001 opened #52 "Cryptarithmetic Problem"
---
Title: Cryptarithmetic Problem
About: The aim is to solve the Cryptarithmetic Problem: SEND MORE MONEY.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

The motive is to solve a cryptarithmetic problem. Cryptarithmetic problems are mathematica

[2021-07-14 11:58] pushpit-J19 opened #53 "Expression tree Evaluation"
---
Title: Expression tree Evaluation
About: Aim is to write a code in python to evaluate the expression tree
Name: Pushpit Jain
Label: Feature Request
Assignee:

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Expression trees are used to represent expressions in form of a tree. For a mathematical expression, its

[2021-07-14 12:01] suy1968 commented on #53
Please assign me this issue as I am a contributor under Devincept21.
I used Python 3 @pushpit-J19

[2021-07-14 13:03] drishtibaranwal opened #54 "K-Means Clustering Algorithm on Iris Dataset"
I want to implement **K-Means Clustering Algorithm** on Iris Dataset .
I want to add this project in Machine Learning folder.
Predicting the optimal number of clusters and represent it visually.
Prediction using unsupervised ML.

[2021-07-14 13:09] drishtibaranwal opened #55 "Customer Segmentation using K-Means Clustering Algorithm"
Title:  K-Means Clustering Algorithm for customer segmentation
About: Aim is to write a code in python to divide the customers in different groups.
Name: Drishti Baranwal
Label: Feature Request
Assignee:

[2021-07-15 06:56] prathimacode-hub commented on #52
Issue asssigned. @Manasi2001

[2021-07-15 06:58] prathimacode-hub commented on #53
@suy1968, pushpit has no access to assign this issue to you. He is as well a devincept participant similar to you. The issues are assigned on first come first serve basis. So he would get this issue assigned.

@pushpit-J19 Issue is assigned to you. You can proceed working. @pushpit-J19

[2021-07-15 06:59] prathimacode-hub commented on #54
Amazing, issue assigned. @drishtibaranwal

[2021-07-15 07:00] prathimacode-hub commented on #55
You can work on only 1 issue at a time and an issue is already assigned to you. Kind check on to it. @drishtibaranwal

[2021-07-15 07:02] #43 closed

[2021-07-15 12:16] #52 closed

[2021-07-15 12:36] Manasi2001 opened #60 "Graph Coloring Problem"
---
Title: Graph Coloring Problem
About: The aim is to solve Graph Coloring Problem.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

The motive is to solve graph coloring problem. Given an undirected graph and an integer M. The task is to determi

[2021-07-15 13:00] prathimacode-hub commented on #60
Template is showing the details of your previous issue. Kindly correct it. @Manasi2001

[2021-07-15 13:46] Manasi2001 commented on #60
I'm sorry. Corrected now ma'am.

[2021-07-15 13:51] prathimacode-hub commented on #60
Issue assigned. @Manasi2001

[2021-07-15 13:58] #31 closed

[2021-07-15 14:02] #53 closed

[2021-07-15 14:07] #60 closed

[2021-07-15 14:25] pushpit-J19 opened #62 "Infix to Postfix Conversion"
---
Title: Infix to Postfix Conversion
About: Aim is to perform the conversion using stacks
Name: Pushpit Jain
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

It is an important application of stack and gives many advantages over infix expression like -
Any formula can be expre

[2021-07-15 15:11] Manasi2001 opened #63 "Subset Sum"
---
Title: Subset Sum
About: The aim is to solve Subset Sum Problem.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

The motive is to solve subset sum problem. From a list of integers, the aim is to check and return a set of integers whose sum wi

[2021-07-15 15:15] prathimacode-hub commented on #63
Issue assigned. @Manasi2001

[2021-07-15 15:16] prathimacode-hub commented on #62
You can proceed. @pushpit-J19

[2021-07-15 15:51] #63 closed

[2021-07-15 15:52] Manasi2001 opened #65 "8 Puzzle Problem using A star Algorithm"
---
Title: 8 Puzzle Problem using A star Algorithm
About: The aim is to solve 8 Puzzle Problem using A star Algorithm in AI.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

An instance of the n-puzzle game consists of a board holding n^{2}-1 dist

[2021-07-15 15:57] prathimacode-hub commented on #65
Issue assigned. @Manasi2001

[2021-07-15 17:15] #62 closed

[2021-07-15 19:40] dhruv-varshney opened #67 "Fibonacci series by using Recursion"
Title: Fibonacci series
About: The aim is to use recursion to get a Fibonacci series till 'n'
Name: Dhruv Varshney
Label: Feature Request
Assignee: 'dhruv-varshney'

Define You:

- [x] DevIncept Participant

- [x]  Contributor

Is your feature request related to a problem? Please describe.

The Fibonacci numbers are  the sequence of numbers that is defined by the recurrence relation

Fn = Fn-1 + F

[2021-07-15 19:42] dhruv-varshney commented on #67
I am raising the issue for the second time in this project.

[2021-07-15 19:43] dhruv-varshney commented on #67
I am raising the issue for the second time in this project.

[2021-07-16 04:45] AlexAdvent opened #68 "I want to add merge sort algorithm"
I want to add a merge sort algorithm based on divide and conquer.

[2021-07-16 05:30] Manasi2001 opened #70 "8 Puzzle Problem using BFS"
---
Title: 8 Puzzle Problem using BFS.
About: The aim is to solve 8 Puzzle Problem using BFS in AI.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

An instance of the n-puzzle game consists of a board holding n^{2}-1 distinct movable tiles, plus

[2021-07-16 06:17] thejaswin123 opened #71 "Shell_Sort"
---
Title: Shell Sort
About: Shell sort python program
Name: Thejaswin S
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

Its a new Feature.

**Describe the solution you'd like...**

I would like to add the program to sort numbers using Shell sort in min time complexity and spac

[2021-07-16 06:25] prathimacode-hub commented on #68
Are you a LGMSOC or Devincept participant? @AlexAdvent

[2021-07-16 06:33] pushpit-J19 opened #72 "Segment tree creation"
---
Title: Segment tree creation
About: Aim is to create project to create a segment tree based on a given array
Name: Pushpit Jain
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Segment tree are an efficient way of preprocessing the array, where all array elements are leaf no

[2021-07-16 07:37] AlexAdvent commented on #68
yes, I'm a Devincept participant.

[2021-07-16 08:48] prathimacode-hub commented on #68
How would I know if you are, only if you follow the guidelines i could  right? Kindly read the README and CONTRIBUTING GUIDELINES. There are templates provided to follow for issue, PR and README. Add the issue template here in comments, fill the details appropriately along with your approach. I could then assign the issue to you. @AlexAdvent

[2021-07-16 08:48] prathimacode-hub commented on #68
And also you can work on only 1 issue at a time @AlexAdvent

[2021-07-16 08:49] prathimacode-hub commented on #67
Issue assigned, I guess bot is out of control. 😆@dhruv-varshney

[2021-07-16 08:49] prathimacode-hub commented on #70
Issue assigned. @Manasi2001

[2021-07-16 08:50] prathimacode-hub commented on #72
Issue assigned. @pushpit-J19

[2021-07-16 08:50] prathimacode-hub commented on #71
Issue assigned. @thejaswin123

[2021-07-16 08:54] #65 closed

[2021-07-16 09:04] nknantha opened #73 "Doubly Linked List"
---
Title: Doubly Linked List
About: Doubly Linked List implementation in Python.
Name: NanthaKumar
Label: Feature Request
Assignee: ''

---

Define You:

- [x] **DevIncept Participant**
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
No. I wants to add new feature.

**Describe the solution you'd like...**
A Doubly Linked List is a type of Linked List in which

[2021-07-16 10:38] prathimacode-hub commented on #73
Issue assigned. @nknantha

[2021-07-16 12:40] #70 closed

[2021-07-16 12:49] pushpit-J19 opened #77 "Segment tree update query"
---
Title: Segment tree update query
About: Aim is to create project to do update query on a segment tree based on a given array
Name: Pushpit Jain
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Segment tree are an efficient way of preprocessing the array, where all array elem

[2021-07-16 12:55] #72 closed

[2021-07-16 12:56] prathimacode-hub commented on #77
Issue assigned. @pushpit-J19

[2021-07-16 13:09] #71 closed

[2021-07-16 14:28] AlexAdvent commented on #68
---
Title: Merge Sort Algorithm
About: Sorting Algorithm time Complexity O(logn)
Name: Rajpurohit Vijeshkumar
Label: Feature Request
Assignee: ''

---

Define You:

- [*] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
No. I want to add a new feature.

**Describe the solution you'd like...**
Merge Sort is based on the divide and conquer a

[2021-07-16 15:20] pushpit-J19 opened #79 "Segment tree Range sum query"
---
Title: Segment tree Range sum query
About: Aim is to create project to do range sum query on a segment tree based on a given array
Name: Pushpit Jain
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Segment tree are an efficient way of preprocessing the array, where all arra

[2021-07-16 17:09] #77 closed

[2021-07-16 17:09] prathimacode-hub commented on #79
Issue assigned. @pushpit-J19

[2021-07-17 06:12] Manasi2001 opened #81 "Average Calculator"
---
Title: Average Calculator
About: The aim is to calculate average of all the distinct integers entered by the user.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

The average of only unique integers entered by user, will get printed out.

**D

[2021-07-17 09:15] ayushi424 opened #82 "Mobile Price Range Classification"
---
Title: Mobile Price Range Classification
About: Implementing step by step  Logistic Regression algorithm in python  with help of a project i.e. Mobile Price Range Classification to classify the target variable(price_range) with value of 0(low cost), 1(medium cost), 2(high cost) and 3(very high cost) .
Name: Ayushi Shrivastava
Label: Feature Request
Assignee: 'ayushi424'

---

Define You:

- [x

[2021-07-17 10:51] pushpit-J19 opened #83 "Binary tree to DLL"
---
Title: Binary tree to DLL
About: Aim is to create project to convert a binary tree to a doubly linked list in place following in-order
Name: Pushpit Jain
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

This is called flattening a binary tree used to convert data stored in a

[2021-07-17 12:52] RC2208 opened #84 "Insertion Sort"
Title: Insertion Sort
About: Write python code on insertion sort
Name: Ritika Chand
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

 Sorting an array.

**Describe the solution you'd like...**
Making a code for insertion sort and counting no. of swaps and comparisons that are ma

[2021-07-17 16:28] prathimacode-hub commented on #82
Here we can add it using project name but have to specifically use only one algorithm. So change the details accordingly. @ayushi424

[2021-07-17 16:28] prathimacode-hub commented on #84
Issue assigned. @RC2208

[2021-07-17 16:29] prathimacode-hub commented on #83
Issue assigned. @pushpit-J19

[2021-07-17 16:30] prathimacode-hub commented on #81
Issue assigned. @Manasi2001

[2021-07-17 16:30] prathimacode-hub commented on #68
Issue assigned. @AlexAdvent

[2021-07-18 07:14] ayushi424 commented on #82
Changes done. Kindly check the details.
@prathimacode-hub

[2021-07-18 13:00] bhagyashree-06 opened #89 "Tuples"
I want to create a detailed Readme file, explaining tuples, inside the data structures folder

[2021-07-18 13:12] bhagyashree-06 commented on #89
---
Title: Tuples
About: I want to create a readme file, inside the data structure folder, explaining tuples.
Name: Bhagyashree Pathak
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
No, it is not related to a problem.

**Describe the solution you'd like...**

I would like to ex

[2021-07-18 14:17] Manasi2001 opened #91 "Bad String"
---
Title: Bad String
About: The aim is to read a string, S and print its integer value. If S cannot be converted to an integer, print Bad String.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Describe the solution you'd like...**

Use 'try and except' blocks in python to solve the problem.

[2021-07-18 14:50] #79 closed

[2021-07-18 14:52] #83 closed

[2021-07-18 14:54] #81 closed

[2021-07-18 14:58] prathimacode-hub commented on #89
What about the project? No project? Only explanation? @bhagyashree-06

[2021-07-18 14:58] prathimacode-hub commented on #82
Issue assigned. @ayushi424

[2021-07-18 15:01] #67 closed

[2021-07-18 15:03] #33 closed

[2021-07-18 16:36] pushpit-J19 opened #92 "Lowest Common Ancestor Binary Tree"
---
Title: Lowest Common Ancestor Binary Tree
About: Aim is to create project to find lowest common ancestor of 2 nodes in a binary tree
Name: Pushpit Jain
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

LCA is the first common node, that occurs when we move from 2 nodes to the

[2021-07-18 18:19] #84 closed

[2021-07-18 18:27] prathimacode-hub commented on #92
Issue assigned. @pushpit-J19

[2021-07-18 19:04] bhagyashree-06 commented on #89
yes, as of now, I thought only about the explanation part

[2021-07-18 19:12] prathimacode-hub commented on #89
But it doesn't go like that, project file is as well needed along with the explanation. @bhagyashree-06

[2021-07-19 06:14] Manasi2001 opened #93 "Binary Numbers"
---
Title: Binary Numbers
About: Given a base-10 integer, n, convert it to binary (base-2). Then find and print the base-10 integer denoting the maximum number of consecutive 1's in n's binary representation.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Describe the solution you'd like...**

Instead of using

[2021-07-19 06:37] #91 closed

[2021-07-19 06:38] prathimacode-hub commented on #93
Issue assigned. @Manasi2001

[2021-07-19 07:30] dilroseR opened #95 "RSA/EL Gamal cryptosystem"
---
**Title:**  RSA/EL Gamal cryptosystem

**About:**  Encryption of plaintext using RSA & El-Gamal algorithms, Diffie-Hellman Key Exchange to ensure sender & receiver can only communicate if they have share same secret key

**Name:** Dilrose Reji

**Label:** Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a proble

[2021-07-19 10:25] photon149 opened #97 "Reverse Cipher"
---
Title: Reverse Cipher
About: Suggest an idea for this project
Name: Shiwansh Raj
Label: Feature Request

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

*Is your feature request related to a problem? Please describe.*

I want to create an algorithm for a cryptographic method called as reverse cipher.

*Describe the solution you'd like...*

I would like to use the Reverse Ciphe

[2021-07-19 10:51] prathimacode-hub commented on #97
Issue assigned. @photon149

[2021-07-19 12:20] pushpit-J19 opened #100 "Lowest Common Ancestor Binary Search Tree"
---
Title: Lowest Common Ancestor Binary Search Tree
About: Aim is to create project to find lowest common ancestor of 2 nodes in a binary search tree
Name: Pushpit Jain
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

LCA is the first common node, that occurs when we move from

[2021-07-19 13:00] #92 closed

[2021-07-19 13:02] #68 closed

[2021-07-19 13:04] #97 closed

[2021-07-19 13:05] prathimacode-hub commented on #100
Issue assigned. @pushpit-J19

[2021-07-19 13:05] prathimacode-hub commented on #95
Issue assigned. @dilroseR

[2021-07-19 17:07] photon149 opened #101 "Convert Complex number to Polar Coordinates"
---
Title: Convert Complex number to Polar Coordinates
About:  To take complex number as input and print polar coordinates as output
Name: Shiwansh Raj
Label: Feature Request
---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

*Is your feature request related to a problem? Please describe.*

I would like to to create a program in which the user enters complex number as input and it pr

[2021-07-20 12:01] #11 closed

[2021-07-21 05:07] siddhi-244 opened #104 "First index of an element in array using recursion"
---
Title: First index  of an element in array.
About: I would like to add solution to this problem.
Name: SIDDHI BHANUSHALI
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like...**
I would like to add solution to this problem.

**Describe alt

[2021-07-21 05:43] #73 closed

[2021-07-21 05:44] prathimacode-hub commented on #104
Issue assigned. @siddhi-244

[2021-07-21 15:29] DurgaSai-16 opened #106 "Vignere Cipher"
| Title|About |Name |Label |
|-|-|-|-|
| Vignere Cipher| Algorithm of encrypting an alphabetic text that uses a series of interwoven caesar ciphers | [Nallani Durga Sai](https://github.com/DurgaSai-16) | Feature Request|

**Define You:**
- [X] DevIncept Participant

**Description:**
- Vignere Cipher is one of the secure encryption modes.
- Want to code a program that helps us to implement Vignere

[2021-07-21 15:33] prathimacode-hub commented on #106
Issue assigned. @DurgaSai-16

[2021-07-22 07:23] #101 closed

[2021-07-22 07:54] RC2208 opened #108 "Brute Forcing the Caesar Cipher"
Title: Brute Forcing the Caesar Cipher
About: Code to use Brute force on Caesar cipher if you don't have the key.
Name: Ritika Chand
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

Hacking the caeser cipher with brute force technique

**Describe the solution you'd like...**

Al

[2021-07-22 08:24] #93 closed

[2021-07-22 08:25] prathimacode-hub commented on #108
Issue assigned. @RC2208

[2021-07-22 10:29] neha030 opened #110 "Quick Sort"
**Title**: Quick Sort.
**About**: I would like to add solution to this problem.
**Name**: NEHA JHA
**Label**: Feature Request

✅ DevIncept Participant
 Contributor

**Is your feature request related to a problem? Please describe.**
  No

**Describe the solution you'd like...**
In this algorithm firstly it picks a pivot element and arranges the array according to this pivot element. The condition t

[2021-07-22 14:39] prathimacode-hub commented on #110
Issue assigned. @neha030

[2021-07-22 14:40] vishvarana opened #112 "Circular linked list traversal"
Project Title - Circular linked list traversal using python
YourName - Vishva Rana
Feature Request - Inserting the elements in cll and traversal

 ✅DevIncept Participant
✅ Contributor
Is your feature request related to a problem? Please describe.
Problem is related to the title given

Describe the solution you'd like...
Pushing the nodes in cll and their traversal

Describe alternatives you've con

[2021-07-22 16:51] prathimacode-hub commented on #112
Issue assigned. @vishvarana

[2021-07-22 17:22] SANJAY-NT opened #115 "Face Recognition"
---
Title: Face Recognition
About: A computer vision application face recognition.
Name:  Sanjay N T
Label: New Feature
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
- Yes its a application of computer vision, to recognize the face of a person in front of the input camera.

**Describe the solution y

[2021-07-23 06:38] nknantha opened #116 "Queue based on Linked List"
---
Title: Queue based on Linked List
Name: NanthaKumar
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
No. It's a new feature.

**Describe the solution you'd like...**

A Queue implemented by linked list from scratch. It will contains methods like enqueue(), dequeue(), peek() a

[2021-07-23 07:59] #82 closed

[2021-07-23 08:03] #108 closed

[2021-07-23 08:05] prathimacode-hub commented on #116
You can proceed. Issue assigned. @nknantha

[2021-07-23 08:08] prathimacode-hub commented on #115
Issue assigned. @SANJAY-NT

[2021-07-23 08:11] prathimacode-hub commented on #115
I had assigned issue, but do the requested changes of your earlier PR before you work on this. @SANJAY-NT

[2021-07-23 08:21] SANJAY-NT commented on #115
Yes, I shall update soon.

[2021-07-24 12:29] #110 closed

[2021-07-25 06:09] neha030 opened #118 "Shell Sort"
Title: Shell Sort.
About: I would like to add solution to this problem.
Name: NEHA JHA
Label: Feature Request

✅ DevIncept Participant
Contributor

Is your feature request related to a problem? Please describe.
No

Describe the solution you'd like...
Shell sort is a highly efficient sorting algorithm and is based on insertion sort algorithm. Shell sort is the generalization of insertion sort which

[2021-07-25 07:44] Manasi2001 opened #120 "Bitwise AND"
---
Title: Bitwise AND
About: Given set S = {1,2,3,....,N}. The aim is to find two integers, I and J (where I<J), from set S such that the value of I & J is the maximum possible and also less than a given integer, K. In this case, '&' represents the bitwise AND operator.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contrib

[2021-07-25 14:19] #116 closed

[2021-07-25 14:21] prathimacode-hub commented on #120
Issue assigned. @Manasi2001

[2021-07-25 14:22] prathimacode-hub commented on #118
Issue assigned. @neha030

[2021-07-25 14:23] #106 closed

[2021-07-26 11:31] #120 closed

[2021-07-26 11:36] #5 closed

[2021-07-26 15:05] Manasi2001 opened #123 "BST Level Order Traversal"
---
Title: BST Level Order Traversal
About: The aim is to perform level-order traversal on a BST.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

The purpose is to explore linked lists and tree traversals in python.

[2021-07-27 08:00] prathimacode-hub commented on #123
Issue assigned. @Manasi2001

[2021-07-27 12:58] #55 closed

[2021-07-27 14:46] Manasi2001 opened #126 "Capitalizing"
---
Title: Capitalizing
About: The aim is to replace the first character of all the words with their upper case characters.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

The purpose is to explore string functions like slicing.

[2021-07-28 06:20] prathimacode-hub commented on #126
Issue assigned. @Manasi2001

[2021-07-28 06:43] dilroseR opened #128 "Diffie Hellmann Algorithm"
**Title:** Diffie-Hellman Key Exchange

**About:**  Diffie-Hellman Key Exchange to ensure sender & receiver can only communicate if they have share same secret key

**Name:** Dilrose Reji

**Label:** Feature Request
Assignee: ''

**Define You:**
- [x] DevIncept Participant
- [x] Contributor

### Is your feature request related to a problem? Please describe.

Diffie-Hellman Key exchange algorithm w

[2021-07-28 09:25] manvitha3579 opened #129 "Affine Cipher"
---
|Title| About| Name| Label|
|-|-|-|-|
|Affine Cipher| The affine cipher is a type of monoalphabetic substitution cipher| [Manvitha Chowdary Ramineni](https://github.com/manvitha3579)| Feature Request|
- - -
**Define You:**
- [x] DevIncept Participant

**Description:**
- Affine cipher,is an example of a substitution cipher
- In encryption using a substitution cipher, each time a given letter oc

[2021-07-28 11:38] #123 closed

[2021-07-28 15:30] prathimacode-hub commented on #129
Issue assigned. @manvitha3579

[2021-07-28 16:26] Manasi2001 opened #130 "Depth First Search"
---
Title: Depth First Search
About: The aim is to implement depth first search.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

The purpose is to understand the functioning of DFS Algorithm in AI.

[2021-07-28 17:18] #126 closed

[2021-07-28 17:19] prathimacode-hub commented on #130
Issue assigned. @Manasi2001

[2021-07-28 17:19] prathimacode-hub commented on #128
Issue assigned. Kindly address the changes to your earlier PR before you create this PR. @dilroseR

[2021-07-29 18:04] Manasi2001 opened #133 "Height of a BST"
---
Title: Height of a BST
About: The aim is to form a Binary Search Tree of the integers entered and display its height.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

The purpose is to explore trees.

[2021-07-29 18:21] Manasi2001 opened #134 "Divisor Sum"
---
Title: Divisor Sum
About: The aim is to calculate the sum of all the divisors of the entered number and display it.
Name: Manasi Chhibber
Label: Feature Request
Assignee: 'Manasi2001'

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

The purpose is to explore arrays.

### I would like to work on this after the

[2021-07-29 18:40] prathimacode-hub commented on #134
Issue assigned. @Manasi2001

[2021-07-30 12:13] anubhav201241 opened #135 "Digit Recognizer"
---
Title: Digit Recognizer
About: It Recognize Digit using Neural Network's Algorithm ANN
Name: Anubhav
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes, it is as it comes under the PyALgo it's deep Learning algorithm ANN by which I'm creating a Digit recognizer

**Describe

[2021-07-30 16:38] #130 closed

[2021-07-30 16:42] #118 closed

[2021-07-30 16:43] prathimacode-hub commented on #135
Ok, great to know but follow the guidelines. There are templates provided. Add a issue template along with project details to get issue assigned to you. You can go through README file of the project for better understanding. All the best. @anubhav201241

[2021-07-30 18:45] anubhav201241 commented on #135
@prathimacode-hub you can assign the issue to me as I already created the issue basically you understand what I want to contribute so you can assign this issue to me if you want :)

[2021-07-30 18:48] prathimacode-hub commented on #135
Yes, I understood project. But its a formality you can just edit your comment, add your issue template and provide details. That is to know you as devincept participant. @anubhav201241

[2021-07-30 19:14] anubhav201241 commented on #135
@prathimacode-hub Now it's Good ?

[2021-07-31 09:42] prathimacode-hub commented on #135
Yes, perfect. Issue assigned. @anubhav201241

[2021-08-01 07:38] Manasi2001 commented on #133
@prathimacode-hub ma'am please assign me this issue :)

[2021-08-01 16:01] #134 closed

[2021-08-01 16:03] #95 closed

[2021-08-01 16:04] #128 closed

[2021-08-01 16:05] prathimacode-hub commented on #133
Issue assigned. @Manasi2001

[2021-08-02 12:29] prathimacode-hub commented on #7
Its been 23 days and no PR from you yet. @sujay2306

[2021-08-02 12:29] prathimacode-hub commented on #13
its been 22 days and no PR from you yet. @Apekshamarutip1

[2021-08-02 12:30] prathimacode-hub commented on #40
Its been 20days and no PR from you yet. @sushmithanjayaram

[2021-08-02 12:31] prathimacode-hub commented on #54
Its been 18days and no PR form you yet. @drishtibaranwal

[2021-08-02 12:32] prathimacode-hub commented on #104
Its been 12 days and no PR from you yet. @siddhi-244

[2021-08-02 12:32] prathimacode-hub commented on #112
Its been 11days and no PR from you yet. @vishvarana

[2021-08-02 12:34] prathimacode-hub commented on #115
Its been 10days and no PR form you yet. @SANJAY-NT

[2021-08-02 12:35] prathimacode-hub commented on #129
Its been 5days and no update from you yet or PR. @manvitha3579

[2021-08-02 12:47] vishvarana commented on #112
Was working on a different issue but will complete it in coming 3 days for sure.

[2021-08-02 12:54] siddhi-244 commented on #104
I am srry I was not well. Will do  it today.

[2021-08-02 12:59] SANJAY-NT commented on #115
Yes, Mam I am doing it I shall update in 2 to 3 days.

[2021-08-02 13:09] siddhi-244 commented on #104
@prathimacode-hub

[2021-08-02 13:53] prathimacode-hub commented on #115
Ok, sure. @SANJAY-NT

[2021-08-02 15:30] manvitha3579 opened #140 "Round Robin Scheduling"
---
|Topic|About|Name|Label|
|-|-|-|-|
|Robin Round Scheduling|In Round Rrobin Scheduling, each ready task runs turn by turn only in a cyclic queue for a limited time|[Manvitha  Chowdary Ramineni](https://github.com/manvitha3579)|Feature Request|
---
## Define you
- [x] DevIncept Participants

## Description
- Round robin is a pre-emptive algorithm
- The CPU is shifted to the next process after fi

[2021-08-02 15:42] prathimacode-hub commented on #140
Ok, but issue template isn't right yet. With this, its hard to know you as a DCP participant. So kindly add those checkup options in the template. Also address the changes to your earlier PR before you work on this. @manvitha3579

[2021-08-02 15:54] #104 closed

[2021-08-02 16:39] siddhi-244 opened #141 "Last index of an element in array."
---
Title: last index  of an element in array.
About: I would like to add solution to this problem.
Name: SIDDHI BHANUSHALI
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like...**
I would like to add solution to this problem.

**Describe alte

[2021-08-02 17:38] suy1968 commented on #141
Please Assign me as I am a Contributor in Devincepts @prathimacode-hub

[2021-08-02 17:41] siddhi-244 commented on #141
I have opened the issue ! Try for another one.

[2021-08-03 07:25] manvitha3579 commented on #140
Done mam

[2021-08-03 09:53] prathimacode-hub commented on #140
Need few more changes in your earlier PR. I am assigning this issue but work on this after you done with the changes over there. @manvitha3579

[2021-08-03 10:24] prathimacode-hub commented on #141
Issue assigned. @siddhi-244

[2021-08-04 05:09] siddhi-244 opened #144 "Trapping rainwater problem"
--
Title: trapping rainwater problem
About: I would like to add solution to this problem.
Name: SIDDHI BHANUSHALI
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like...**
I would like to add solution to this problem.

**Describe alternatives y

[2021-08-04 06:11] prathimacode-hub commented on #144
Issue assigned. @siddhi-244

[2021-08-04 06:13] #141 closed

[2021-08-04 06:17] #129 closed

[2021-08-04 09:27] simranquirky opened #145 "Machine Learning model for Diabetes Prediction"
the model takes input like blood pressure, gender, age, Plasma concentration etc, and predicts whether the person needs treatment or not

[2021-08-04 10:50] prathimacode-hub commented on #145
Hmm, but follow the issue template provided to get issue assigned. By the way, are you a LGMSoC participant, DCP participant or contributor? @simranquirky

[2021-08-04 11:09] simranquirky commented on #145
DCP contributor

[2021-08-04 11:12] simranquirky commented on #145
I cannot find the issue template 😅 are you referring to the pull request template?

[2021-08-04 11:44] prathimacode-hub commented on #145
No, go through the README of the project you would find it. @simranquirky

[2021-08-04 18:36] prathimacode-hub commented on #145
Issue assigned. @simranquirky

[2021-08-06 09:02] #115 closed

[2021-08-06 10:01] SANJAY-NT commented on #115
I was still updating read me. Its not correct I shall update it today.

[2021-08-06 10:11] prathimacode-hub commented on #115
I know its not correct, but still its been merged. @SANJAY-NT

[2021-08-06 15:59] manvitha3579 opened #148 "Priority Scheduling"
---
|Topic|About|Name|Label|
|-|-|-|-|
|Priority Scheduling|Priority scheduling is one of the most common scheduling algorithms in batch systems.|[Manvitha  Chowdary Ramineni](https://github.com/manvitha3579)|Feature Request|
---
## Define you
- [x] DevIncept Participants

## Description
- Priority Scheduling is a method of scheduling processes that is based on priority.
- Process with the highest

[2021-08-06 16:01] prathimacode-hub commented on #148
Issue assigned. @manvitha3579

[2021-08-06 16:39] #140 closed

[2021-08-07 08:18] #89 closed

[2021-08-07 08:18] #4 closed

[2021-08-07 08:19] #29 closed

[2021-08-07 08:57] prathimacode-hub commented on #7
Its been 28 days. 9th is the last date to accept PR's. If you wouldn't do it by then, obviously you can submit later but points won't be counted towards DCP program. @sujay2306

[2021-08-07 08:58] prathimacode-hub commented on #13
Its been 27 days. 9th is the last date to accept PR's. If you wouldn't do it by then, obviously you can submit later but points won't be counted towards DCP program. @Apekshamarutip1

[2021-08-07 08:58] prathimacode-hub commented on #40
Its been 25 days. 9th is the last date to accept PR's. If you wouldn't do it by then, obviously you can submit later but points won't be counted towards DCP program. @sushmithanjayaram

[2021-08-07 08:59] prathimacode-hub commented on #54
Its been 23 days. 9th is the last date to accept PR's. If you wouldn't do it by then, obviously you can submit later but points won't be counted towards DCP program. @drishtibaranwal

[2021-08-07 08:59] prathimacode-hub commented on #133
Its been 6 days. 9th is the last date to accept PR's. If you wouldn't do it by then, obviously you can submit later but points won't be counted towards DCP program. @Manasi2001

[2021-08-07 08:59] prathimacode-hub commented on #135
Its been 7 days. 9th is the last date to accept PR's. If you wouldn't do it by then, obviously you can submit later but points won't be counted towards DCP program. @anubhav201241

[2021-08-07 09:00] prathimacode-hub commented on #144
Its been 3 days. 9th is the last date to accept PR's. If you wouldn't do it by then, obviously you can submit later but points won't be counted towards DCP program. @siddhi-244

[2021-08-07 09:00] prathimacode-hub commented on #145
Its been 3 days. 9th is the last date to accept PR's. If you wouldn't do it by then, obviously you can submit later but points won't be counted towards DCP program. @simranquirky

[2021-08-07 09:01] prathimacode-hub commented on #148
9th is the last date to accept PR's. If you wouldn't do it by then, obviously you can submit later but points won't be counted towards DCP program. @manvitha3579

[2021-08-07 09:31] siddhi-244 commented on #144
Will do it today !

[2021-08-07 09:48] simranquirky commented on #145
I am working on the model. Hope to complete it before 9th.

[2021-08-07 10:23] #112 closed

[2021-08-07 16:37] Manasi2001 commented on #133
Sorry ma'am for the delay. I got stuck in some college assignments. Have made the PR now. 👍🏻

[2021-08-08 04:57] #133 closed

[2021-08-08 08:56] anubhav201241 commented on #135
@prathimacode-hub I have created the PR

[2021-08-09 00:47] Jordistyd opened #153 "Adding a recursion script"
Hi! I would love to add a recursion script in python to find the maximum number of paths from the start of a 2D array to a given point (i,j)
I have read the contributing guidelines.
Thank you :)

[2021-08-09 07:12] prathimacode-hub commented on #153
Welcome to the repo. If you read the contributing guidelines, make sure you had read the README file of this project as well. To get issue assigned. You need to add issue template along with project details and specific project name unlike a general statement given here. Also let me know of who you are : LGMSoC participant or DCP participant or Contributor. Always provide details elaborately. If y

[2021-08-09 08:40] prathimacode-hub commented on #7
Exactly 30 days, Max time is 5 days. And you are unassigned from this issue as time is up for DCP program and you had held it for long time. Next time express interest only if you like to submit it timely. Holding an issue for long is never a right thing. @sujay2306

[2021-08-09 08:42] prathimacode-hub commented on #13
Exactly 30 days, Max time is 5 days. And you are unassigned from this issue as time is up for DCP program and you had held it for long time. Next time express interest only if you like to submit it timely. Holding an issue for long is never a right thing. @Apekshamarutip1

[2021-08-09 08:43] prathimacode-hub commented on #40
Exactly 27 days, Max time is 5 days. And you are unassigned from this issue as time is up for DCP program and you had held it for long time. Next time express interest only if you like to submit it timely. Holding an issue for long is never a right thing. @sushmithanjayaram

[2021-08-09 08:45] prathimacode-hub commented on #54
Exactly 25 days, Max time is 5 days. And you are unassigned from this issue as time is up for DCP program and you had held it for long time. Next time express interest only if you like to submit it timely. Holding an issue for long is never a right thing. @drishtibaranwal

[2021-08-09 08:45] prathimacode-hub commented on #144
Update? @siddhi-244

[2021-08-09 08:46] prathimacode-hub commented on #145
Update? @simranquirky

[2021-08-09 08:46] prathimacode-hub commented on #148
Update? @manvitha3579

[2021-08-09 10:19] siddhi-244 commented on #144
Done

[2021-08-09 11:08] Jordistyd commented on #153
Great to be here!
No problem I'm on it now, I'll upload the template as a reply

[2021-08-09 11:47] #144 closed

[2021-08-09 20:24] Jordistyd opened #155 "Recursion backtraking"
Title: Backtracking Recursion
Name: Yarden Galon
Label: Feature Request
Assignee: ''

Define You:

DevIncept Participant

- [ X] Contributor

Is your feature request related to a problem? Please describe.
It is a new feature.

Describe the solution you'd like...
In Programming, recursion is thought of as breaking a big complex problem into smaller more manegable problems.
The recursion method usua

[2021-08-10 08:13] prathimacode-hub commented on #155
Whooa, amazingly described. Issue assigned. Sure I would do that. @Jordistyd

[2021-08-10 08:13] #153 closed

[2021-08-10 08:15] prathimacode-hub commented on #148
Time is up for the program. Unfortunately I have to remove the label but still you can submit the PR hopefully ASAP. @manvitha3579

[2021-08-10 08:16] prathimacode-hub commented on #145
Time is up for the program. Unfortunately i have to remove the label. But you submit it ASAP hopefully with your PR. @simranquirky

[2021-08-10 08:26] prathimacode-hub commented on #135
Time is up. @anubhav201241

[2021-08-10 08:32] Jordistyd commented on #155
Awesome thank you!
Should have it done by tomorrow
@prathimacode-hub

[2021-08-10 09:04] #135 closed

[2021-08-11 17:53] #155 closed

[2021-08-11 17:54] prathimacode-hub commented on #145
Any update? @simranquirky

[2021-08-11 17:54] prathimacode-hub commented on #148
Any update? @manvitha3579

[2021-08-11 17:55] #40 closed

[2021-08-11 17:56] #13 closed

[2021-08-11 17:57] #7 closed

[2021-08-14 06:43] prathimacode-hub commented on #148
Any update? @manvitha3579

[2021-08-14 06:44] prathimacode-hub commented on #145
Updates please? @simranquirky

[2021-08-21 08:26] prathimacode-hub commented on #145
It's been 14 days since last message. Kindly update the progress and issue can't be held for this long. @simranquirky

[2021-08-21 08:28] prathimacode-hub commented on #148
Are you willing on this? Do let us know. Issue can't held for this long. If so, kindly intimate up with your work progress. It's been 15 long days since issue is assigned. @manvitha3579

[2021-09-06 05:55] prathimacode-hub commented on #145
Update please? @simranquirky

[2021-09-06 05:56] prathimacode-hub commented on #148
Update please? @manvitha3579

[2021-09-06 06:50] manvitha3579 commented on #148
So sorry mam. I was busy with my semester exams and placement. Will complete it soon.

[2021-09-06 07:50] prathimacode-hub commented on #148
Sure, but keep me updated. @manvitha3579

[2021-09-30 17:32] aswinikalyan30 opened #157 "Recursion: Tower of Hanoi"
Title: Tower of Hanoi
About: Script for Tower of Hanoi problem, use graphics to visualize the same as a game
 Name: Aswini Kalyan(@aswinikalyan30)
 Label: Feature Request
Assignee: ''
--- Define You:
- [ ] DevIncept Participant
- [x] Hacktoberfest Contributor
  ** Is your feature request related to a problem? Please describe. **
** I shall be working on the famous problem of Tower of Hanoi, which

[2021-10-01 04:47] abhisheks008 opened #158 "Rat in a Maze Problem using Backtracking"
🔴 Project Title : **Rat in a Maze problem solved using Backtracking algorithms**
🔴 Description : Finding out the shortest path to the destination using the matrix.
🔴 Name : Abhishek Sharma
🔴 Label : New Addition in the Backtracking directory.
🔴 Define me :
- [x] Contributor (Hacktoberfest 2021)

🔴 Description and Approach : I will be using backtracking algorithms to solve the problem statement and

[2021-10-01 05:29] deepthi1107 commented on #145
please do assign me mam @prathimacode-hub

[2021-10-01 06:35] prathimacode-hub commented on #158
Issue assigned to @abhisheks008

[2021-10-01 06:43] prathimacode-hub commented on #145
Issue assigned to @deepthi1107

[2021-10-01 08:11] #158 closed

[2021-10-01 08:56] ayushi424 opened #161 "Campus Placements Analysis & Prediction."
Define You:

- [x] Hacktoberfest2021 Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

To provide script for the Campus placement analysis & prediction using a Machine Learning Algorithm in python.

**Approach to be followed:**

Implementing Decision Tree Regressor algorithm using a project as  Campus placement analysis & prediction which will inclu

[2021-10-01 09:28] abhisheks008 opened #162 "0-1 Knapsack Problem"
:red_circle: Title : **0-1 Knapsack Problem using Python 3 language**
:red_circle: Directory : **Knapsack**
:red_circle: Name : **Abhishek Sharma**
:red_circle: Contribution type :
- [x] Hacktoberfest 2021
- [x] Contributor

:red_circle: Approach : To solve this 0-1 Knapsack problem, I will be using two major methods,
- Brute Force method
- Dynamic Programming method

After implementing all those

[2021-10-01 10:23] prathimacode-hub commented on #162
Assigned. @abhisheks008

[2021-10-01 10:23] prathimacode-hub commented on #161
Issue assigned. @ayushi424

[2021-10-01 11:18] #162 closed

[2021-10-01 11:24] abhisheks008 opened #164 "Ugly Numbers using Dynamic Programming"
:red_circle: Title : **Ugly Numbers using Dynamic Programming**
:red_circle: Language used : **Python 3**
:red_circle: Directory : **Dynamic Programming**
:red_circle: Name : **Abhishek Sharma**
:red_circle: Contribution type :
- [x] Hacktoberfest 2021
- [x] Contributor

:red_circle: **Description :**
Ugly numbers are numbers whose only prime factors are 2, 3 or 5. The sequence 1, 2, 3, 4, 5, 6, 8

[2021-10-01 11:25] prathimacode-hub commented on #164
Issue assigned. @abhisheks008

[2021-10-01 12:42] abhisheks008 opened #167 "Friends Pairing Problem using Dynamic Programming"
:red_circle: Title : **Friends Pairing Problem using Dynamic Programming**
:red_circle: Language used : **Python 3**
:red_circle: Directory : **Dynamic Programming**
:red_circle: Name : **Abhishek Sharma**
:red_circle: Contribution type :
- [x] Hacktoberfest 2021
- [x] Contributor

:red_circle: **Description :**
Given n friends, each one can remain single or can be paired up with some other friend

[2021-10-01 12:45] NeerajHazarika opened #168 "0/1 Knapsack Problem"
- Title : 0/1 Knapsack problem
- Language : Python
- Directory : Dynamic programming
- Name : Neeraj Pratap Hazarika

✅ Hacktoberfest
✅ Contributor

## Description :

Write the solution code for the famous dynamic problem called 0/1 knapsack problem in python using top down dynamic programming approach

@prathimacode-hub please assign me this issue.

[2021-10-01 13:52] manthan0227 commented on #168
Can you assign this issue. I am doing competitive programming so i can solve this.

[2021-10-01 14:21] NeerajHazarika commented on #168
@manthan0227 I opened this issue for myself, if u want to contribute to something else make your own issue and ask the maintainers to assign it to you.

[2021-10-01 14:42] #164 closed

[2021-10-01 14:43] #161 closed

[2021-10-01 15:15] prathimacode-hub commented on #168
Issue assigned to @NeerajHazarika

[2021-10-01 15:15] prathimacode-hub commented on #168
@manthan0227, you can come up with your own issue

[2021-10-01 15:23] manthan0227 commented on #168
Ok Ma'am

[2021-10-01 16:06] #167 closed

[2021-10-01 16:31] abhisheks008 opened #171 "Subset Sum Problem using Dynamic Programming"
:red_circle: Title : **Subset Sum Problem using Dynamic Programming**
:red_circle: Language used : **Python 3**
:red_circle: Directory : **Dynamic Programming**
:red_circle: Name : **Abhishek Sharma**
:red_circle: Contribution type :
- [x] Hacktoberfest 2021
- [x] Contributor

:red_circle: **Description :**
Given a set of non-negative integers, and a value sum, determine if there is a subset of th

[2021-10-01 16:37] prathimacode-hub commented on #171
Issue assigned to @abhisheks008

[2021-10-01 17:01] manthan0227 opened #172 "Longest Common Subsequence Problem"
- Title: Longest Common Subsequence Problem
- Language: Python
- Directory: Dynamic Programming
- Name: Manthan Nagpurkar

 ☑Hacktoberfest
 ☑Contributor

## Description:
Write the Solution code for Dynamic Problem called "Longest Common Subsequence" in python using recursion approach.

@prathimacode-hub Please assign me this issue.

[2021-10-01 17:37] abhisheks008 opened #174 "Bell Numbers Problem using Dynamic Programming"
:red_circle: Title : **Bell Numbers Problem using Dynamic Programming**
:red_circle: Language used : **Python 3**
:red_circle: Directory : **Dynamic Programming**
:red_circle: Name : **Abhishek Sharma**
:red_circle: Contribution type :
- [x] Hacktoberfest 2021
- [x] Contributor

:red_circle: **Description :**
Given a set of n elements, find number of ways of partitioning it.
Examples:
[code]

:red

[2021-10-01 18:35] #171 closed

[2021-10-01 18:35] prathimacode-hub commented on #174
Issue assigned to @abhisheks008

[2021-10-02 03:27] abhisheks008 opened #176 "Fractional Knapsack Problem"
:red_circle: Title : **Fractional Knapsack Problem using Python 3 language**
:red_circle: Directory : **Knapsack**
:red_circle: Name : **Abhishek Sharma**
:red_circle: Contribution type :
- [x] Hacktoberfest 2021
- [x] Contributor

:red_circle: Approach : To solve this Fractional Knapsack problem, I will be using the Brute Force Method.

🔴 Problem Statement : Given weights and values of n items, w

[2021-10-02 05:16] prathimacode-hub commented on #176
Issue assigned to @abhisheks008

[2021-10-02 05:18] #174 closed

[2021-10-02 05:18] prathimacode-hub commented on #172
Issue assigned to @manthan0227

[2021-10-02 10:08] manthan0227 opened #179 "Caesar cipher Algorithm"
Ma'am i have done caesar cipher algorithm before assigning the issue. And i have sent the pull request to you. So please assigning the caesar cipher algorithm. And check my pull request of caesar cipher.

[2021-10-02 11:04] #176 closed

[2021-10-02 11:35] ayushi424 opened #180 "Movie Classification"
Define You:

- [x] Hacktoberfest2021 Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

To provide script for the Movie Classification using a Machine Learning Algorithm in python.

**Approach to be followed:**

Implementing KNN algorithm using a project as Movie Classification  which will include:
- Data preprocessing & exploring,
- Data training &

[2021-10-02 14:31] NeerajHazarika opened #181 "Count set bits in an integer"
- Title : Count set bits in an integer
- Language : Python
- Directory : Bit Manipulation
- Name : Neeraj Pratap Hazarika

- [x] Hacktoberfest
- [x] Contributor

## Description :

Write an efficient program to count the number of 1s in the binary representation of an integer.

@prathimacode-hub please assign me this issue.

[2021-10-02 14:48] manthan0227 commented on #179
- Title: Caesar Cipher
- Language: Python
- Directory: Cipher
- Name: Manthan Nagpurkar

☑Hacktoberfest
☑Contributor

## Description
To implement the algorithm of Caesar Cipher in python language. This algorithm is used for Encrypt and Decrypt the message.

@prathimacode-hub Please assign this issue to me.

[2021-10-02 15:31] Lashuk1729 opened #182 "Face Detection Using Digital Image Processing"
- Title: Face Detection Algorithm
- Language: Python
- Directory: Digital Image Processing
- Name: Kushal Borkar

- [x] Hacktoberfest
- [x] Contributor

Description :
Write the Face Detection program using Haar Cascades Algorithm.

@prathimacode-hub please assign me this issue.

[2021-10-03 04:20] abhisheks008 opened #185 "Gold Mine Problem using Dynamic Programming"
:red_circle: Title : **Gold Mine Problem using DP**
:red_circle: Directory : **Dynamic Programming**
:red_circle: Name : **Abhishek Sharma**
:red_circle: Contribution type :
- [x] Hacktoberfest 2021
- [x] Contributor

:red_circle: Approach : To solve this problem, I'll be using Dynamic approach.

🔴 Problem Statement : Given a gold mine of n*m dimensions. Each field in this mine contains a positive

[2021-10-03 06:14] #168 closed

[2021-10-03 06:16] prathimacode-hub commented on #179
Issue assigned to @manthan0227

[2021-10-03 06:16] prathimacode-hub commented on #180
Issue assigned to @ayushi424

[2021-10-03 06:17] prathimacode-hub commented on #181
Issue assigned to @NeerajHazarika

[2021-10-03 06:17] prathimacode-hub commented on #182
Issue assigned to @Lashuk1729

[2021-10-03 06:18] prathimacode-hub commented on #185
Issue assigned to @abhisheks008

[2021-10-03 06:19] prathimacode-hub commented on #157
Issue assigned to @aswinikalyan30

[2021-10-03 06:19] prathimacode-hub commented on #157
Will you work on it as part of hacktober fest? @aswinikalyan30

[2021-10-03 06:20] thebhavana commented on #3
Review #184
@prathimacode-hub

[2021-10-03 06:48] aswinikalyan30 commented on #157
Yes! But I'm not sure if it's allowed, since hacktoberfest is excluding all DSA related repos

[2021-10-03 12:09] umairkarel opened #189 "8 Puzzle Solver [PathFinding]"
- **Title**: 8 Puzzle Solver
- **Language**: Python
- **Category**: Pathfinding

- [x] Hacktoberfest
- [x] Contributor

**Description**:
Algorithm to solve 8 Puzzle using A* Search Algorithm

[2021-10-03 13:14] #3 closed

[2021-10-03 13:15] #185 closed

[2021-10-03 13:18] prathimacode-hub commented on #189
Issue assigned. @umairkarel

[2021-10-04 06:01] akash435 opened #191 "Human Detection and Counting"
---
Title: Human Detection and Counting
About: Here will detect humans in image or video and will also count  max no. of people in it.
Name: Akash Rajak
Label: Feature Request
Assignee: ''

---

Define You:

- [X] Hacktoberfest2021 Participant
- [ ] Contributor

---

Description:

In this will create a GUI based model using tkinter and in the backend part will use opencv and tensorflow.
here user

[2021-10-04 06:01] akash435 commented on #191
@prathimacode-hub can i work on this under hacktoberfest'21.

[2021-10-04 10:43] khushboorathore10 commented on #172
Hi I want to work on this issue ..Please assign me @prathimacode-hub

[2021-10-04 12:15] manthan0227 commented on #172
This issue is created by me. if you are thinking about work on some issue, you can create your own issue and submit the own pull request.

[2021-10-04 16:07] SaloniThete opened #194 "Heart failure prediction using Adaboost & XGboost"
Heart failure prediction using Adaboost & XGboost.
kindly Assign me as a contributor to HACKTOBERFEST 2021.
Kindly Review & merge the PR under HACKTOBERFEST 2021
Thank you.
@prathimacode-hub

[2021-10-05 08:18] prathimacode-hub commented on #191
Yes, sure. issue assigned to @akash435

[2021-10-05 08:20] prathimacode-hub commented on #194
Kindly follow the issue template given and you have to use multiple algorithms and compare the accuracy for the prediction. @SaloniThete

[2021-10-05 08:22] #181 closed

[2021-10-05 08:27] #180 closed

[2021-10-05 08:32] SaloniThete commented on #194
Sure I'll make the required changes.

[2021-10-05 09:21] #194 closed

[2021-10-05 09:38] SaloniThete opened #196 "Heart Failure Prediction"
PROJECT TITLE

Heart Failure Prediction

INTRODUCTION

Using Multiple Algorithms and comparing the accuracy for the prediction.

DATASET

[Dataset](https://drive.google.com/file/d/1xUrRvPQMs5w6RCrXESvtU4_JkTiK74U9/view?usp=sharing)

PURPOSE

predict the accuracy of heart failures using multiple algorithms.

LIBRARIES USED

pandas
matplotlib
seaborn
from sklearn.preprocessing import LabelEncoder
fr

[2021-10-05 09:38] SaloniThete commented on #196
kindly Assign me as a contributor to HACKTOBERFEST 2021.
Kindly Review & merge the PR under HACKTOBERFEST 2021
Thank you.
@prathimacode-hub

[2021-10-06 07:08] motasimmakki opened #198 "Inorder, Preorder, & Postorder traversal"
Title: Inorder, Preorder, & Postorder traversal
Language: Python
Category: Tree Traversal Algorithms

- [x] Hacktoberfest 2021'
- [x] Contributor

Description:
Algorithms for Inorder, Preorder, and Postorder traversal of Binary tree.

[2021-10-06 07:10] motasimmakki commented on #198
@prathimacode-hub
Kindly assign this to me under Hachtoberfest 2021'

[2021-10-08 15:21] #191 closed

[2021-10-12 11:19] #179 closed

[2021-10-12 11:26] prathimacode-hub commented on #196
Issue assigned to @SaloniThete

[2021-10-12 11:26] prathimacode-hub commented on #198
Issue assigned @motasimmakki

[2021-10-12 11:27] prathimacode-hub commented on #148
Update please? @manvitha3579

[2021-10-12 13:55] SaloniThete commented on #196
kindly evaluate my PR
Pr No : #201
Pr link : https://github.com/prathimacode-hub/PyAlgo-Tree/pull/201
@prathimacode-hub

[2021-10-17 10:31] #198 closed

[2021-10-30 05:58] prathimacode-hub commented on #189
By when are you expected to do changes? Fest is about to end? @umairkarel

[2021-10-30 05:59] prathimacode-hub commented on #182
By when are you expected to do changes? Fest is about to end? @Lashuk1729

[2021-10-30 06:00] prathimacode-hub commented on #157
Ok that's upto you if your focus is only for hacktoberfest. No worries @aswinikalyan30

[2021-10-31 14:25] #182 closed

[2022-09-30 04:31] #157 closed

[2022-10-01 13:08] abhisheks008 opened #204 "Activity Selection Problem [Folder: Greedy]"
:red_circle: Title : **Activity Selection Problem**
:red_circle: Directory : **Greedy Algorithm**
:red_circle: Name : **Abhishek Sharma**
:red_circle: Contribution type :
- [x] Hacktoberfest 2022
- [x] Contributor

:red_circle: Approach : To solve this problem, I'll be using Greedy approach.

🔴 Problem Statement : You are given n activities with their start and finish times. Select the maximum num

[2022-10-01 14:07] prathimacode-hub commented on #204
Issue assigned to @abhisheks008. You can proceed.

[2022-10-01 15:08] singhmansi25 opened #205 "Web Scraping using BeautifulSoup Library of Python"
☑️ **Title :** Web Scraping using BeautifulSoup in Python
☑️ **Name :** Mansi Singh
☑️ **Contribution Type :**

- [ ]  Hacktoberfest2022 Participant
- [ ]  Contributor

☑️ **Assignee :** Prathima Kadari
☑️ **Approach :** I will be using various web scraping libraries in python to scrape data from websites.

@prathimacode-hub Please assign me this issue, as I want to participate in Hacktoberfest 20

[2022-10-01 15:28] prathimacode-hub commented on #205
@singhmansi25, you are referring to wrong repository. You can create this issue in the repo : https://github.com/prathimacode-hub/Awesome_Python_Scripts. Glad to know of your interest. While creating an issue, just be specific with mentioning what's the project script you'll be contributing. Web Scraping is a vast thing.

[2022-10-01 17:13] Iamtripathisatyam opened #207 "Depth-first Search (DFS) Python"
---
Title: Depth-first Search(DFS) in Python
Directory: Graph
Name: Satyam Tripathi

---

Define You:

- [X] Hacktoberfest2022 Participant
- [X] Contributor

Problem: Write to Program in Python to implement Depth-first search in a graph.
[code]
@prathimacode-hub Please assign me this issue, I'll be contributing as a Hacktoberfest 2022 participant.

[2022-10-01 17:34] prathimacode-hub commented on #207
Issue assigned to @Iamtripathisatyam

[2022-10-01 17:45] #204 closed

[2022-10-01 21:26] Iamtripathisatyam opened #209 "Breadth First Search"
---
Title: Breadth-First Search
Directory: Graph
Name: Satyam Tripathi

---

### Define You:

- [X] Hacktoberfest2022 Participant
- [X] Contributor

### Problem:
 Write to program in Python to implement a Breadth-first search. Breadth-first search (BFS) is used to solve many problems, including finding the shortest path in a graph or solving puzzle games such as Rubik’s Cubes.

### Input:
[code]

[2022-10-01 22:21] prathimacode-hub commented on #209
Issue assigned to @Iamtripathisatyam. Go ahead.

[2022-10-02 07:35] Iamtripathisatyam commented on #209
Thank you!

[2022-10-02 13:59] abhisheks008 opened #211 "Job Sequencing Problem [Folder: Greedy]"
:red_circle: Title : **Job Sequencing Problem**
:red_circle: Directory : **Greedy Algorithm**
:red_circle: Name : **Abhishek Sharma**
:red_circle: Contribution type :
- [x] Hacktoberfest 2022
- [x] Contributor

:red_circle: Approach : To solve this problem, I'll be using Greedy approach.

🔴 Problem Statement : Given an array of jobs where every job has a deadline and associated profit if the job i

[2022-10-03 03:52] singhmansi25 commented on #205
Ok, Thank you @prathimacode-hub
I will close this issue and create in the specified directory.

[2022-10-03 03:52] #205 closed

[2022-10-03 10:51] #207 closed

[2022-10-03 12:40] abhisheks008 opened #214 "Huffman Coding using Greedy Approach"
:red_circle: Title : **Huffman Coding**
:red_circle: Directory : **Greedy Algorithm**
:red_circle: Name : **Abhishek Sharma**
:red_circle: Contribution type :
- [x] Hacktoberfest 2022
- [x] Contributor

:red_circle: Approach : To solve this problem, I'll be using Greedy approach.

🔴 Problem Statement : We know that each character is a sequence of 0's and 1's and stores using 8-bits. The mechanism

[2022-10-03 13:53] prathimacode-hub commented on #214
Issue assigned to @abhisheks008

[2022-10-03 14:55] TheDoctor561 opened #215 "UnionFind/Disjoint Set"
---
Title: Union Find
Directory: Graph
Name: Daniel Yu-cua

---

### Define You:
- [x] Hacktoberfest2022 Participant
- [x] Contributor

### Problem
Write to program in Python to implement a Disjoint set also known as Union Find. A disjoint set is a data structure that stores a collection of "disjoint" (non-overlapping) sets. This data structure is useful to determine whether two vertices of a grap

[2022-10-03 14:56] prathimacode-hub commented on #215
Issue assigned to @TheDoctor561

[2022-10-03 14:57] #211 closed

[2022-10-03 15:00] #209 closed

[2022-10-03 17:36] Iamtripathisatyam opened #216 "Priority Queue"
---
Title: Priority Queue
Directory: Queue
Name: Satyam Tripathi

### Define You:

- [X] Hacktoberfest2022 Participant
- [X] Contributor

### Problem:
We have to implement the Priority Queue. We will see its working, code, and explanation.

---
@prathimacode-hub, Please assign me this issue.

[2022-10-04 06:24] abhisheks008 opened #218 "Radix Sort [Folder: Sorting]"
:red_circle: Title : **Radix Sort**
:red_circle: Directory : **Sorting Algorithms**
:red_circle: Name : **Abhishek Sharma**
:red_circle: Contribution type :
- [x] Hacktoberfest 2022
- [x] Contributor

:red_circle: Approach : Workflow of Radix Sort.

🔴 Problem Statement : An unsorted array of elements will be given to you, you need to sort the array using the Radix Sort technique. Time complexity o

[2022-10-05 04:09] #214 closed

[2022-10-05 04:10] prathimacode-hub commented on #218
Issue assigned to @abhisheks008

[2022-10-05 04:11] prathimacode-hub commented on #216
You can be specific with 1 queue for each issue. Can you change the issue accordingly to get it assigned. @Iamtripathisatyam

[2022-10-05 04:14] Rkpani05 commented on #218
Please assign me

[2022-10-05 05:16] prathimacode-hub commented on #218
It's already assigned. Come up with a new issue. @Rkpani05

[2022-10-05 06:54] #218 closed

[2022-10-05 06:55] abhisheks008 opened #220 "Nth Catalan Numbers [Folder: Dynamic Programming]"
:red_circle: Title : **Nth Catalan Number**
:red_circle: Directory : **Dynamic Programming**
:red_circle: Name : **Abhishek Sharma**
:red_circle: Contribution type :
- [x] Hacktoberfest 2022
- [x] Contributor

:red_circle: Approach : I'll be using the Dynamic Programming to find out the nth Catalan Numbers.

🔴 Problem Statement : Catalan numbers are defined as a mathematical sequence that consists

[2022-10-05 06:56] prathimacode-hub commented on #220
Issue assigned to @abhisheks008

[2022-10-06 08:55] Iamtripathisatyam commented on #216
Done

[2022-10-06 09:18] prathimacode-hub commented on #216
Issue assigned to @Iamtripathisatyam

[2022-10-07 13:15] #216 closed

[2022-10-07 16:49] sajal-19 commented on #148
kindly assign this to me . I have an very efficient algorithm for this problem.

[2022-10-08 06:59] prathimacode-hub commented on #148
Issue assigned to @sajal-19

[2022-10-25 11:22] RC2208 opened #224 "SHA1 Hashing Algo"
Name: Ritika Chand
Title: SHA1 hashing Algo

Language: Python

- [x] Hacktoberfest2022 Participant
- [x] Contributor

Description:
Python code to hash sentences in SHA1

[2022-10-25 11:24] RC2208 commented on #224
@prathimacode-hub please assign this issue to me as part of hacktober fest 2022

[2022-10-30 05:01] prathimacode-hub commented on #224
Issue assigned to @RC2208

[2022-10-30 05:02] prathimacode-hub commented on #145
Update please? @parvatijay2901